{% extends 'game/base.html' %}

{% block content %}
    <h2>User Agreement</h2>
    <p>Welcome to The Coliseum: Chaos Eternal. By creating an account, you agree to the following terms:</p>
    <ul>
        <li>You agree to embrace the chaos. No whining.</li>
        <li>You understand that your epic fails may be replayed for the amusement of the Chaos Queens and the entire Coliseum.</li>
        <li>You will not be a bully. Bullies get the virtual pie in the face. We are not kidding. See: The Gotcha List.</li>
        <li>You acknowledge that the game world is alive and may change at any moment. Gravity is a suggestion, not a law.</li>
        <li>You agree to have fun. This is mandatory.</li>
    </ul>
    <p>By signing up, you confirm you have read, understood, and agree to be bound by these terms. Now, go cause some trouble!</p>
{% endblock %}